{% extends "layout.html.njk" %}

{% block meta %}
  <title>Opleidingspraktijk (HAIO)</title>
  <meta name="description" content="Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en Huisartsen in Opleiding (HAIO’s).">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Opleidingspraktijk (HAIO)</h2>
      <p>Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en Huisartsen in Opleiding (HAIO's). Dit vraagt een duidelijk engagement van ons om in een kwaliteitsvolle opleiding te voorzien en te werken volgens erkende standaarden. Maar dit vraagt ook een engagement van jullie, de patiënten van deze praktijk om aan dit project jullie medewerking en vertrouwen te geven. De HAIO-opleiding duurt in het totaal 3 jaar.</p>
      <h3>Dr. Christophe Cantoro (HAIO)</h3>
      <p>Dr. Christophe Cantoro is HAIO in onze praktijk van april 2022 tot oktober 2023.</p>
      <h3>Dr. Charlotte De Bruyn (HAIO)</h3>
      <p>Dr. Charlotte De Bruyn is HAIO in onze praktijk van oktober 2022 tot oktober 2023.</p>
    </div>
  </section>
{% endblock %}