{% extends "layout.html.njk" %}

{% block meta %}
  <title>Opleidingspraktijk (HAIO)</title>
  <meta name="description" content="Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en Huisartsen in Opleiding (HAIO’s).">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Opleidingspraktijk (HAIO)</h2>
      <p>Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en Huisartsen in Opleiding (HAIO's). Dit vraagt een duidelijk engagement van ons om in een kwaliteitsvolle opleiding te voorzien en te werken volgens erkende standaarden. Maar dit vraagt ook een engagement van jullie, de patiënten van deze praktijk om aan dit project jullie medewerking en vertrouwen te geven. De HAIO-opleiding duurt in het totaal 3 jaar.</p>

      <h3>HAIO Dr. Roselien Leys</h3>
      <p>Hallo iedereen,</p>
      <p>Graag stel ik me aan jullie voor. Ik ben Roselien Leys, afgestudeerd als algemeen arts ni 2021. Tijdens mijn opleiding deed ik geregeld stage in deze praktijk. Sedert oktober ben ik hier gestart als huisarts ni opleiding. Ik kijk er naar uit om hier op een zorgzame en empathische manier mijn laatste jaar van de opleiding huisartsgeneeskunde te vervolledigen.</p>
      <p>Ook de buurt is mij niet vreemd, gezien ik afkomstig ben van Zeveneken en daar nog steeds graag woon. In mijn vrije tijd heb ik competitie gezwommen al heb ik dit de laatste jaren ingeruild voor mooie wandelingen aan zee of in de natuur. Ook spendeer ik graag tijd met mijn familie.</p>
      <p>Voor de patiënten wil ik graag een laagdrempelig aanspreekpunt zijn, een vertrouwenspersoon waar nodig en hen zo goed mogelijk proberen helpen met hun zorgen en noden.</p>
      <img
        src="/assets/img/haio-roselien.jpg"
        alt="HAIO Dr. Roselien Leys"
        width="750"
        height="1334"
        class="max-500"
      />

      <h3>HAIO Dr. Alireza Ghazinoer</h3>
      <p>Ik ben Dr. Ghazinoer Alireza, maar jullie mogen me gerust aanspreken als Dr. Ali. Recentelijk afgestudeerd in 2023, verheug ik me enorm om als huisarts in opleiding komend jaar te werken in Lochristi, vooral omdat ik zelf kom uit Zaffelare.</p> 
      <p>Huisartsgeneeskunde heeft altijd al een speciale plaats in mijn hart gehad. Elk consult is uniek, elk individu heeft zijn eigen verhaal en vereist daarom een op maat gemaakt behandelplan. Geen enkele dag lijkt op de vorige en dat is precies wat me het meest aanspreekt.</p>
      <p>Buiten de praktijk breng ik graag tijd door met vrienden, maak ik geregeld wandelingen met mijn hond, geniet ik van het maken van muziek en koester ik dierbare momenten met mijn familie.</p>
      <p>Met vriendelijke groeten</p>
      <p>Ali</p>
      <img
        src="/assets/img/haio-alireza.jpg"
        alt="HAIO Dr. Alireza Ghazinoer"
        width="946"
        height="1580"
        class="max-500"
      />
    </div>
  </section>
{% endblock %}