{% extends "layout.html.njk" %} 
{% block meta %}
<title>
  Wij zijn wij? - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne, Dr Cedric Leys, Dr Pia Verhoeven en Dr Pia Verhoeven
</title>
<meta
  name="description"
  content="De huisartsen Marc De Jaeger en Sara Van Thuyne hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde."
/>
{% endblock %} 
{% block main %}
<section>
  <div class="inner">
    <h2>Wie zijn wij?</h2>
    <p>
      De huisartsen Marc De Jaeger en Sara Van Thuyne hebben gekozen om in een
      maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en
      kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle
      huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de
      huisartsgeneeskunde.
    </p>
    <p>
      In 2020 zijn ook de huisartsen Cedric Leys en Pia Verhoeven toegetreden
      tot de maatschap van Praktijkcentrum Lochristi.
    </p>
    <p>
      Onze huisartsen worden bijgestaan door praktijkassistentes Shaline De
      Wever en Kimberly Descamps.
    </p>
    <p>
      Daarnaast worden de huisartsen ook bijgestaan door HAIO's (huisartsen in
      opleiding).
    </p>
    <ul class="fotos">
      <li>
        <h3>Dr. Marc De Jaeger</h3>
        <p>Ik ben dokter Marc De Jaeger en ik ben huisarts sinds 1984.</p>
        <p>
          Ik ben de praktijk van Praktijkcentrum Lochristi een hele tijd geleden
          alleen gestart en ik heb deze zien uitgroeien tot de praktijk die ze
          vandaag is.
        </p>
        <p>
          Daarnaast ben ik ook CRA van het rusthuis Sint-Eligius te Zeveneken en
          ex-voorzitter van de Huisartsenkring van Lochristi. Ik heb een
          bijzondere interesse voor geriatrie en palliatieve zorg.
        </p>
        <img
          src="/assets/img/huisarts-dr-marc-de-jaeger.jpg"
          alt="Huisarts Dr. Marc De Jaeger"
          width="787"
          height="500"
        />
      </li>
      <li>
        <h3>Dr. Sara Van Thuyne</h3>
        <p>
          Ik ben Dr Sara Van Thuyne, afgestudeerd in 2011 als arts en in 2013
          als huisarts. Ik heb twee dochters (2012 en 2016) en één plusdochter
          (2007). Ik hou vooral van lezen, zwemmen en zon. Ik ben CRA van WZC
          Moervaartheem te Wachtebeke en voorzitter van de Huisartsenkring van
          Lochristi.
        </p>
        <p>
          Ik heb een bijzondere interesse voor pediatrie en geriatrie. Mijn
          visie op zorg is een open en transparante zorg met respect voor de
          wensen van de patiënt. Vroegtijdige zorgplanning is mijn stokpaardje.
          Ik ben gestart als huisarts in opleiding bij Dr De Jaeger en 10 jaar
          later zijn we reeds uitgegroeid tot een dynamische groepspraktijk met
          6 artsen en 2 onthaalmedewerkers, waar ik zeer dankbaar voor ben.
        </p>
        <p>De reden waarom ik huisarts geworden ben is de volgende:</p>
        <blockquote cite="http://">
          “Een gezond mens heeft veel wensen, een ziek mens maar één”
        </blockquote>
        <p>Draag zorg voor jezelf en elkaar!</p>
        <img
          src="/assets/img/huisarts-dr-sara-van-thuyne.jpg"
          alt="Huisarts Dr. Sara Van Thuyne"
          width="500"
          height="644"
        />
      </li>
      <li>
        <h3>Dr. Cedric Leys</h3>
        <p>
          Ik ben dr. Cedric Leys en ben sinds 2018 afgestudeerd als arts en
          sportarts. Mijn persoonlijke visie is bij te dragen aan een
          kwalitatieve zorg op maat voor iedereen. Naast de algemene
          huisartsgeneeskunde heb ik een buitengewone interesse in
          Sportgeneeskunde en ben ik ook erkend keuringsarts. Buiten het werk
          hou ik ook van alles wat met sport te maken heeft. Ik hou er ook van
          om tijd vrij te maken voor familie en vrienden. Verder ben ik geboren
          en getogen Lochristinaar.
        </p>
        <img
          src="/assets/img/haio-dr-cedric-leys.jpg"
          alt="Dr. Cedric Leys (HAIO)"
          width="640"
          height="1136"
          class="max-500"
        />
      </li>
      <li>
        <h3>Dr. Pia Verhoeven</h3>
        <p>
          Ik ben dokter Pia Verhoeven en ik ben afgestudeerd als algemeen arts
          in 2016 aan de universiteit van Brussel. Nadien heb ik mij verder
          gespecialiseerd in de huisartsgeneeskunde en ben ik twee later
          afgestudeerd als huisarts. Ik ben opgegroeid in Sint-Pieters-Leeuw
          (Vlaams-Brabant) en nadien verhuisd naar Gent, waar ik gewerkt heb op
          de spoedgevallendienst van het Sint-Lucas ziekenhuis. Hierdoor heb ik
          een bijzondere interesse voor acute pathologie binnen de
          huisartsgeneeskunde, maar ook voor oogheelkunde en geriatrie.
        </p>
        <p>
          Binnen de Huisartsenkring van Lochristi ben ik verantwoordelijk voor
          de bijscholingen en de accreditatie van de huisartsen.
        </p>
        <p>
          In mijn vrije tijd ga ik graag sporten of iets eten op restaurant, en
          kan ik genieten van tijd door te brengen met familie en vrienden.
        </p>
        <p>
          Als huisarts wens ik graag een kwalitatieve zorg aan te bieden in een
          warme omgeving, gebaseerd op een goede vertrouwensband tussen arts en
          patiënt.
        </p>
        <img
          src="/assets/img/huisarts-Pia-Verhoeven.jpg"
          alt="Huisarts Dr. Pia Verhoeven"
          width="605"
          height="605"
          class="max-500"
        />
      </li>
      <li>
        <h3>Dr. Evelyn Verbeke</h3>
        <p>
          Ik ben Dr. Verbeke Evelyn, geboren Gentenaar en afgestudeerd als
          huisarts aan de UGent in 2009. Eerst heb ik enkele jaren gewerkt in
          een grote groepspraktijk in Nederland en nadien deed ik vervangingen
          in het Gentse. Ik werkte ook enkele jaren als adviserend arts bij de
          mutualiteit, met hierbij vooral de focus op de re-integratie van
          mensen met chronische ziekten. Kwaliteitsvolle zorg met aandacht voor
          de individuele behoeften en verwachtingen in een open en eerlijke
          communicatie, vind ik heel belangrijk. Verder ben ik ook staflid bij
          de Orde der Artsen en moeder van twee zonen.
        </p>
        <img
          src="/assets/img/huisarts-Evelyn-Verbeke.jpg"
          alt="Huisarts Dr. Evelyn Verbeke"
          width="605"
          height="746"
          class="max-500"
        />
      </li>
      <li>
        <h3>Dr. Christophe Cantoro (HAIO)</h3>
        <p>
          Als jonge arts vervolledigde in 2020 mijn basisopleiding geneeskunde
          aan de Universiteit Gent. Daarna besloot ik de 3-jarige opleiding tot
          huisarts verder te zetten. Vanaf 1 april 2022 vervoeg ik de praktijk
          als huisarts in opleiding (HAIO) om mijn laatste 1,5 jaar van de
          opleiding te vervolledigen.
        </p>
        <p>
          Zelf ben ik afkomstig uit Destelbergen, Lochristi was dus geen al te
          grote verplaatsing. Ik ben sociaal, enthousiast en leergierig. Mijn
          specifieke interesse velden, naast de algemene geneeskunde, liggen bij
          kleine chirurgie, dermatologie en locomotorische aandoeningen.
        </p>
        <p>
          In praktijkcentrum Lochristi hoop ik mij verder te ontwikkelen als
          huisarts en kijk ik vervolgens naar uit het team binnen de
          huisartsenpraktijk verder te leren kennen.
        </p>
        <img
          src="/assets/img/Haio-Christophe-foto.png"
          alt="Dr. Christophe Cantoro (HAIO)"
          width="300"
          height="670"
        />
      </li>
      <li>
        <h3>Dr. Charlotte De Bruyn (HAIO)</h3>
        <p>
          Hallo, mijn naam is Charlotte De Bruyn, 25 jaar en afgestudeerd als
          algemeen arts in 2022 aan de universiteit van Gent. Als huisarts in
          opleiding zal ik de volgende 12 maanden met veel enthousiasme werken
          in deze praktijk.
        </p>
        <p>
          Ik ben afkomstig uit Brugge en opgegroeid in een warm gezin als oudste
          zus met 3 broers. Anderen beschrijven mij als een empathisch en
          gedreven persoon met een positieve ingesteldheid en een zorgend
          karakter. Al sinds het eerste contact met huisartsgeneeskunde ben ik
          geboeid door de veelzijdigheid van het beroep. Elke dag is anders en
          dat maakt het zo leerrijk en uitdagend.
        </p>
        <p>
          Mijn vrije tijd spendeer ik graag met vrienden of familie. Hiernaast
          vervult muziek een belangrijke rol in mijn leven. Ik speel al meer dan
          10 jaar piano en ben zangeres in een muziekbandje. Als sport beoefen
          ik tennis en lopen.
        </p>
        <p>
          Als huisarts wil ik graag een vertrouwenspersoon zijn en een eerste
          aanspreekpunt bij problemen. Ik streef naar warme geneeskunde voor
          iedereen waarbij de patiënt centraal staat.
        </p>
        <img
          src="/assets/img/Haio-Charlotte-foto.png"
          alt="Dr. Charlotte De Bruyn (HAIO)"
          width="483"
          height="933"
        />
      </li>
    </ul>
  </div>
</section>
{% endblock %}
